<!-- 
    Posibles outputs:
    **Los commands no son correctos: validCommands = false
    **Aterrizamos mal: insideField = false && hasLanded = false
    **Aterrizamos bien pero nos acabamos saliendo = insideField = false && hasLanded = true
    **Todo OK: insideField = true && hasLanded = true  
 -->

<!-- Output: commands no son correctos -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!validCommands">
    <!-- Info -->
    <div>
        <p>Alguna de les ordres que s'ha introduït no és correcte. Només s'accepta Avançar (A), Girar a l'esquerra (L) i Girar a la dreta (R).</p>
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>         
</div>

<!-- Output: aterrizamos mal -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!insideField && !hasLanded">
    <!-- Info -->
    <div>
        <p>Les coordenades inicials del Rover han fet que aterri fora del camp.</p>
        <ul>
            <li>Camp: {{fieldSize.width}} d'amplada, {{fieldSize.height}} d'alçada.</li>
            <li>Coordenades inicials del Rover: ({{initialPosition.x}}, {{initialPosition.y}})</li>
        </ul>
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>                  
          
</div>

<!-- Output: aterrizamos bien pero nos acabamos saliendo -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!insideField && hasLanded">
    <!-- Info -->
    <div>
        <p>Les ordres introduïdes han fet que el rover es surti del camp. A continuació es mostra el punt on el rover s'ha sortit del camp (coordenades finals).</p>
        <ul>
            <li>Camp: {{fieldSize.width}} d'amplada, {{fieldSize.height}} d'alçada.</li>
            <li>Coordenades inicials del Rover: ({{initialPosition.x}}, {{initialPosition.y}})</li>
            <li>Orientació inicial del Rover: {{initialOrientation}}</li>
            <li>Coordenades finals del Rover: ({{finalPosition.x}}, {{finalPosition.y}})</li>
            <li>Orientació final del Rover: {{finalOrientation}}</li>
        </ul>
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>                   
          
</div>

<!-- Output: todo ok -->
<div class="jumbotron-ok p-4 mb-4"
    *ngIf="insideField && hasLanded">                   
    <!-- Info -->
    <div>
        <p>A continuació es mostren les dades respectives a la informació introduïda.</p>
        <ul>
            <li>Camp: {{fieldSize.width}} d'amplada, {{fieldSize.height}} d'alçada.</li>
            <li>Coordenades inicials del Rover: ({{initialPosition.x}}, {{initialPosition.y}})</li>
            <li>Orientació inicial del Rover: {{initialOrientation}}</li>
            <li>Coordenades finals del Rover: ({{finalPosition.x}}, {{finalPosition.y}})</li>
            <li>Orientació final del Rover: {{finalOrientation}}</li>
        </ul>
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>
</div>
