<!-- Jumbotron -->
<div class="jumbotron p-4 mb-4">                   
    <p class="texto text-center">Introdueix l'amplada i l'alçada del camp (valors numèrics enters més grans que 0) on aterritzarà el Rover.</p>
    <p class="texto text-center">Introdueix també les coordenades inicials del Rover (x, y) (seran valors numèrics enters), l'orientació inicial (nord , sud, est, oest), i els comandaments per moure el Rover.</p>
    <p class="texto text-center">El Rover podrà avançar, girar la seva actual orientació cap a l'esquerra o cap a la dreta</p> 
    <p class="texto text-center fw-bold">ATENCIÓ! Es considerarà el quadrat de la cantonada inferior esquerra com la coordeanda (0, 0). Exemple: si s'introdueix una amplada d'1 i una alçada d'1, es generarà un camp amb un sol quadrat, que serà la coordenada (0, 0)</p>       
</div>
