<!-- 
    Posibles outputs:
    **Los commands no son correctos: validCommands = false
    **Aterrizamos mal: insideField = false && hasLanded = false
    **Aterrizamos bien pero nos acabamos saliendo = insideField = false && hasLanded = true
    **Todo OK: insideField = true && hasLanded = true  
 -->

<!-- Output: commands no son correctos -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!validCommands">
    <!-- Info -->
    <div>
        InvalidCommands
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>         
</div>

<!-- Output: aterrizamos mal -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!insideField && !hasLanded">
    <!-- Info -->
    <div>
        InvalidCommands
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>                  
          
</div>

<!-- Output: bien pero nos acabamos saliendo -->
<div class="jumbotron-error p-4 mb-4"
    *ngIf="!insideField && hasLanded">
    <!-- Info -->
    <div>
        InvalidCommands
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>                   
          
</div>

<!-- Output: todo ok -->
<div class="jumbotron-ok p-4 mb-4"
    *ngIf="insideField && hasLanded">                   
    <!-- Info -->
    <div>
        InvalidCommands
    </div>
    <!-- Button -->
    <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-outline-dark" (click)="navigateToForm()">Tornar a formulari</button>
    </div>
</div>
