<!-- Título -->
<h2 class="text-center">Formulari</h2>

<!-- Jumbotron -->
<div class="jumbotron p-4 mb-4">                   
    <p class="texto text-center">Introdueix l'amplada i l'alçada del camp on aterritzarà el Rover.</p>
    <p class="texto text-center">Introdueix també les coordinades inicials del Rover (x, y), l'orientació inicial (nord , sud, est, oest), i els comandaments per moure el Rover.</p>
    <p class="texto text-center">El Rover podrà avançar, girar la seva actual orientació cap a l'esquerra o cap a la dreta</p>        
</div>

<!-- Formulario -->
<form 
    [formGroup]="initialForm"
    (ngSubmit)="startLanding()">

    <!-- Campo -->
    <h4>Camp</h4>    
    <div class="form-group mb-3 row">
        <!-- Ancho campo -->
        <div class="col-6">
            <label for="width">Amplada (eix X)</label>
            <input 
                class="form-control" 
                id="width" 
                type="number" 
                placeholder="Ex: 10"
                formControlName="width"
                [ngClass]="{'is-invalid': validateNumberFields('width')}"
                />        
            <div class="invalid-feedback"
                *ngIf="validateNumberFields('width')">
                El camp és obligatori.
            </div>
        </div>
        <!-- Alto campo -->
        <div class="col-6">
            <label for="height">Alçada (eix Y)</label>
            <input 
                class="form-control" 
                id="height" 
                type="number" 
                placeholder="Ex: 10"
                formControlName="height"
                [ngClass]="{'is-invalid': validateNumberFields('height')}"
                />        
            <div class="invalid-feedback"
                *ngIf="validateNumberFields('height')">
                El camp és obligatori.
            </div>
        </div>      
    </div>

    <!-- Rover -->
    <h4 class="mt-4">Rover</h4>
    <div class="form-group mb-3 row">
        <!-- Coordenada X -->
        <div class="col-6">
            <label for="x">Coordenada inicial X</label>
            <input 
                class="form-control" 
                id="x" 
                type="number" 
                placeholder="Ex: 5"
                formControlName="x"
                [ngClass]="{'is-invalid': validateNumberFields('x')}"
                />        
            <div class="invalid-feedback"
                *ngIf="validateNumberFields('x')">
                El camp és obligatori.
            </div>
        </div>
        <!-- Coordenada Y -->
        <div class="col-6">
            <label for="y">Coordenada inicial Y</label>
            <input 
                class="form-control" 
                id="y" 
                type="number" 
                placeholder="Ex: 5"
                formControlName="y"
                [ngClass]="{'is-invalid': validateNumberFields('y')}"
                />        
            <div class="invalid-feedback"
                *ngIf="validateNumberFields('y')">
                El camp és obligatori.
            </div>
        </div>      
    </div>
    <!-- Orientació inicial formControlName="orientation"-->
    <div class="form-group mb-3">
        <label for="orientation">Orientació inicial</label>
        <select class="form-select" id="orientation" >
            <option selected>Escolleix...</option>
            <option value="N">Nord (N)</option>
            <option value="S">Sud (S)</option>
            <option value="E">Est (E)</option>
            <option value="W">Oest (W)</option>
        </select>
        <div class="invalid-feedback">
                El camp és obligatori.
        </div>
    </div>
    <!-- Comandaments formControlName="commands"-->
    <div class="form-group mb-4">
        <label for="commands">Comandaments</label>
        <div class="input-group">
            <select class="form-select" id="commands" >
                <option selected>Escolleix...</option>
                <option value="A">Avançar (A)</option>
                <option value="L">Girar-se a l'esquerra (L)</option>
                <option value="R">Girar-se a la dreta (R)</option>            
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button">Afegir comandament</button>
            </div>
        </div>        
        <div class="invalid-feedback">
                El camp és obligatori.
        </div>
    </div>

    <!-- Submit Button-->
    <div class="d-flex">
        <button 
            class="btn btn-primary flex-grow-1" 
            id="submitButton" 
            type="submit">Aterritzar!</button>
    </div>
</form>
