<!-- Fila -->
<div *ngFor="let row of rowsArr; let i = index;"
    class="d-flex flex-row border flex-grow-1">

    <!-- Columna -->
    <div *ngFor="let row of columnsArr; let j = index"
        class="flex-grow-1 p-2 text-center bg-light border border-2">
        <fa-icon [icon]="icon" [ngClass]="{'transparent': (i != rowsArr.length - 1 - currentPositionY && j == currentPositionX) || (i == rowsArr.length - 1 - currentPositionY && j != currentPositionX) || (i != rowsArr.length - 1 - currentPositionY) || (j != currentPositionX)}"></fa-icon>
    </div>
    
</div>



<!--<p *ngIf="i == 1 && j == 3">l</p>  (3, 1)-->